*{margin: 0;}
.nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 190px;
    height: 60px;
    position: fixed;
    width:1000px;
    background-color: white;
    z-index: 5;
   
}
.nav-link{
    display: flex;
    list-style: none;
    align-items: center;
    padding: 0;
    margin: 0;
    height: 100%;
    position: relative;
    
}
.nav-link li{
    padding: 15px;
    height: 100%; 
    box-sizing: border-box;
    display: flex;
    align-items: center;
    color:#ababab;
}
.nav-link a{
    text-decoration: none; 
    color:#ababab;
}
#name{
    color:#00b39b
}
.list-departments:hover {
    color: #00b39b
}

.list-departments:hover .departments-name {
    display: flex
}
.career-link a:hover{
    color: #00b39b
}
.departments-name {
    flex-direction: column;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 60px;
    right: 0px;
    display: none;
    background-color: white;
    padding: 10px;
    box-shadow: 5px 10px 18px #888888;
}
.departments-name a:hover{
    color: #00b39b
}
.helthcare{
    text-align: center
}
.title{
    font-size: 38px;
    color: #00b39b;
    margin: 35px 0px
}
.intro-word {
    display:flex;
    justify-content: center;
    line-height: 1.75;
    font-weight: 400;
    font-size: 16px;
    color: #747474;
}
.intro-word p{
    margin:20px
}


.boxes h2{
    font-size: .875em;
    font-weight: 400;
    margin: 0;
    color: hsla(0,0%,100%,.7);
}
.boxes h1{
    font-size: 1.625em;
    color: #fff;
    margin-top: .3em;
}

.green-box{
    border-radius: 10px;
    padding: 1.375em 2.5em 0;
    overflow: hidden;
    background: #00ccb1;
    margin-right: 20px;
   position: relative;
   width: 500px
}
.blue-box{
    border-radius: 10px;
    padding: 1.375em 2.5em 0;
    overflow: hidden;
    background-color:#3d83df;
    margin-left: 20px;
    position: relative;
    width:500px
}
.boxes{
    display: flex;
    height: 370px;
    margin: 3.75rem auto 2.5rem;
    max-width: 1015px;
    padding: 0 20px;
    margin: 0 auto;
    
}
.green-box select{
    border: 0;
    border-radius: 5px;
    padding: 0 3.5em 0 1.5em;
    height: 40px;
    text-transform: uppercase;   
    outline: 0;
}
.laptop-green{
 position: absolute;
 bottom:0px;
 right:-90px;
}
.laptop-blue{
    position: absolute;
    bottom:0px;
    right:-90px;
}
.brands-logos{
    display:flex;
    flex-wrap:wrap;
    padding: 10px 0;
    list-style: none;
    margin:0px
}
.brands-logos li{
    margin:10px;
   
}
.brands-logos svg{
    height: 20px;
    width: auto;
    max-width: 100%;
    padding-left: 10px;
   fill:#747474;
}
.brands-logos svg:hover{
   fill:#00ccb1
}
.brands{
    margin: 2.5rem auto 3.125rem;
    zoom: 1;
    max-width: 1015px;
    padding: 0 20px;
    position: relative;
}
.brands h1{
    float: left;
    width: 33%;
    font-size: 1.625em;
    margin: .25em 0 .35em;
    padding-right: 1em;
    color: #00b39b;
    width: 25%
}

.stats{
    background-image: url("logo.png");
    width: 100%;
    height: 550px;
    background-repeat: no-repeat;
    background-color: aquamarine;
   background-repeat: no-repeat;
   background-position: 40px 270px;
   padding :50px 200px;
   display: flex
  

}
.platform{
    align-items: center
}

.stat-bord{
    display: flex;
    flex-wrap: wrap;
    width:500px;
    height: 500px;
    margin-left: 150px

    
    
}   
.stats h1{
    font-size: 34px;
    color: #00b39b;
    padding-bottom: 30px;
    width:400px
}
.stats p{
    max-width: 415px;
    font-size: .875em;
    font-weight: 400;
    line-height: 1.7142857143;
    color: #747474;
    
}

.flag{
    background: #fff;
   border-radius: 5px;
   box-shadow: 0 1px 4px 0 rgba(0,0,0,.05);
   text-align: center;
  padding: 20px;
   font-size: 13px;
  padding-top: 30px; 
   width: 198px;
   height: 190px;
}
.flag h3{
    font-size: 1.8461538462em;
    color: #00b39b;
    margin: .5em 0;
}

.flag p{
    font-size: 10px;
    font-weight: 400;
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
    color: #747474;
}
.stat-bord .flag:nth-child(odd){
    background-color: white;
    margin-right: 20px;
    margin-top: 40px
}

.town{
    position: relative;
    height: 700px;
   width: 1100px;
    display: flex;
    flex-wrap: wrap;
  margin: 50px 200px;
}
.town-sec{
  background-color: #fff;
  border-radius: 5px;
  margin-right: 20px;
  margin-bottom: 20px;
}

 .town-sec p{
     color: grey;
     font-size:24px
 }
.town-sec:hover {

   box-shadow:  1px 3px 2px 2px #e2e1e1;
   
}


.office__desc{
    display:flex;
    justify-content: space-between;
    padding:15px
}

.town button{
    display: inline-block;
    vertical-align: middle;
    outline: 0;
    border: 0;
    border-radius: 4px;
    padding: 12px 20px;
    background: #3d83df;
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
    line-height: 2px;
    color: #fff;
    font-weight: 700;
    font-size: 10px;
    text-align: center;
    text-transform: uppercase;
   
    
}
.header-office{
    text-align: center;
    
}
.header-office h1{
    font-size: 30px;
    color: #00b39b;
    margin: 35px 0px;
    
    
}
.header-office p{
    font-size: 14px;
    color:gray;
   
}

.section-inner{
text-align: center;
color:gray;
border-top: 1px solid rgb(228, 225, 225);
padding-top: 50px

}
.section-inner a{
    text-decoration: none;
}


